
.section-seeAllThingsTodo {
  width: 100%;
}

.seeAllThingsTodo-wrapper {
  max-width: 768px;
  margin: auto;
  padding: 1.2rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.seeAllThingsTodo-thins-link {
  cursor: pointer;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.seeAllThingsTodo-thins-link:hover .seeAllThingsTodo-p {
  text-decoration: underline;
}

.seeAllThingsTodo-left-arrow {
  color: var(--color-primario);
}

.seeAllThingsTodo-p1 {
  display: none;
  font-size: 15px;
  margin-left: 8px;
  letter-spacing: .5px;
  color: var(--color-footer-top);
}

.seeAllThingsTodo-p2 {
  font-size: 15px;
  margin-left: 8px;
  color: var(--color-footer-top);
}

.seeAllThingsTodo-buttons-box {
  width: 80px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.seeAllThingsTodo-btn {
  width: 32px;
  height: 32px;
  color: var(--color-primario);
  border-radius: 50%;
  cursor: pointer;
}

.seeAllThingsTodo-btn:hover {
  background-color: var(--color-hover-selc);

}


/* ----- MEDIA QUERIES ----- */

@media (max-width: 280px) {

  .seeAllThingsTodo-buttons-box {
    width: 75px;
  }
}

@media (max-width: 412px) {

  .seeAllThingsTodo-p1 {
    display: inline;
  }

  .seeAllThingsTodo-p2 {
    display: none;
  }
}

@media (min-width: 768px) {
  
  .section-seeAllThingsTodo {
    display: none;
  }
}