
.section-checkSliderBox {
  width: 100%;
}

.checkSliderBox-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem 0;

  display: flex;
  gap: 0;
  flex-flow: column-reverse nowrap;
  justify-content: center;
  align-items: center;
}



/* ----- MEDIA QUERIES ----- */

@media (min-width: 768px) {
  
  .checkSliderBox-wrapper {
    padding: 1.5rem 1.2rem;
    
    display: flex;
    gap: 15px;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
  }
}

@media (min-width: 1180px) {

  .checkSliderBox-wrapper {
    gap: 9px;
  }
}